Data/Part II - Demographics/Scaled Occurrence Rates/5. IWA - 0.06, OWA - 1, Contrast = 1e-10/5g. Mock Survey.csv
Data/Part II - Demographics/Mismatched OR/5g. Mock Survey.csv
Data/Part II - Demographics/5. Fiducial Case - IWA - 0.06, Contrast = 1e-10/5g. Mock Survey.csv